<h1>Welcome</h1>
<p>Wake me up inside</p>
<p>Wake me up inside</p>
<p>Call my name and save me from the dark</p>
<p>Bid my blood to run</p>
<p>Before I come undone</p>
<p>Save me from the nothing I've become</p>
